* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
  padding: 5px 0;
  color: #f90;
}

h1 span {
  color: #fff;
}

.container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin: 50px;
}

.video-container .video {
  flex: 0 0 30%;
  height: 250px;
  border: 5px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.25s ease all;
}

.video-container .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease all;
}

.video-container .video:hover {
  box-shadow: 5px 3px 5px #000;
}

.video-container .video:hover video {
  transform: scale(1.1);
}

.show-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.show-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  border-radius: 5px;
  border: 3px solid #fff;
  object-fit: cover;
  z-index: 9999;
  max-width: 99%;
}

.show-video span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15px;
  right: 0;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  z-index: 1;
}

@media (max-width: 768px) {
  .video-container {
    flex-direction: column;
  }
}
